
*{
    @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
    font-family: 'Roboto Condensed', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #884A39;
}

:root {
    --orange: #C38154;
}

body {
    color: var(--orange);
}
h1 {
    font-size: 54px;
    text-transform: uppercase;
    color: var(--orange);
}

.container {
    padding: 40px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #884A39;
}

#gameboard {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}
.box {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--orange);
    font-size: 100px;
    border-right: 2px solid;
    border-bottom: 2px solid;
}
.box:nth-child(4n) {
    border-right: none;
}
.box:nth-child(12) ~ .box {
    border-bottom: none;
} 
button, #restartBtn {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 15px;
    background-color: var(--orange);
    color: #FFC26F;
    border-color:  #F9E0BB;
    font-size: 18px;
    transition: 200ms transform;
    font-weight: 600;
}
button:hover {
    cursor: pointer;
    transform: translateY(-2px);
}

.modes{
    margin-top: 20px;
}