
*{
    font-family: 'Roboto Condensed', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #618264;
}


body {
    color: #79AC78;
}
h1 {
    font-size: 2.8em;
    text-transform: uppercase;
    color: #79AC78;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #618264;
}

#gameboard {
    width: 380px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
}
.box {
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #79AC78;
    font-size: 100px;
    border-right: 2px solid;
    border-bottom: 2px solid;
}
.box:nth-child(4n) {
    border-right: none;
}
.box:nth-child(12) ~ .box {
    border-bottom: none;
} 
button, #restartBtn {
    margin-top: 40px;
    padding: 10px 20px;
    border-radius: 15px;
    background-color: #79AC78;
    color: #B0D9B1;
    border-color:  #D0E7D2;
    font-size: 1em;
    transition: 200ms transform;
    font-weight: 600;
}
button:hover, #restartBtn:hover {
    cursor: pointer;
    transform: translateY(-2px);
}
